<% include partials/header %>

    <div class="container-fluid">
        <div id="landing-header">
            <a href="/" class="btn btn-sm btn-success">Refresh MainPage</a>
        </div>

        <br><br>
            <table style="width:100%">
              <tr>
                <th>Menu Tokens</th>
                <th>Account Number</th> 
              </tr>
              <tr>
                <td name="ownerBal"><%= ownerBal%></td>
                <td name="ownerAdd"><%= ownerAdd%></td>
              </tr>
              <tr>
                <td name="accTwoBal"><%= accTwoBal%></td>
                <td name="accTwo"><%= accTwo%></td>
              </tr>
            </table> 

            
<!-- <table id="TableA">

  <tr>
    <td>Old top row</td>
  </tr>
</table>


<script type="text/javascript">

function addRow(tableID) {
  // Get a reference to the table
  var tableRef = document.getElementById(tableID);

  // Insert a row in the table at row index 0
  var newRow = tableRef.insertRow(0);

  // Insert a cell in the row at index 0
  var newCell = newRow.insertCell(0);

  // Append a text node to the cell
  var newText = document.createTextNode('New top row');
  newCell.appendChild(newText);
}

// Call addRow() with the ID of a table
//addRow('TableA');

</script> -->

        <br><br>

        <form action="/paid" method="POST">
            <input type="number" name="payUsingMenu" value="" placeholder="Enter Amount of MENU" />  
            <button type="submit" class="btn btn-success">Pay Using MENU</button>
        </form>
        <br><br>
        <form action="/transferred" method="GET">
            <input type="number" name="transferTokens" value="" placeholder="Transfer Tokens" />  
            <button type="submit" class="btn btn-success" onclick="addRow('TableA')">Transfer Tokens</button>
        </form>
    </div>


  <script type="text/javascript" src="functions.js"></script>
</div>

<% include partials/footer %>