body { 
		
}

div.container-fluid {
	margin-left: 50px;
}

.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

#delete-form{
	display: inline;
}

#comment{
	margin: 0px 0px 50px 0px;
}


